*{
  box-sizing: content-box;
}
/** Border **/
section{
  border: 10px solid black;
  width: 600px;
  height: 300px;
  display: flex;
}

/** Ball **/
div{
  background-color: black;
  position: relative;
  width: 50px;
  height: 50px;
}


/** Paddles **/
#paddle1, #paddle2{
  position: relative;
  height: 50px;
  width: 10px;
}

#paddle1 {
  top: 100px;
  left: -60px;
}
#paddle2 {
  top: 100px;
  left: 540px;
}
