*{
  box-sizing: content-box;
}
/** Border **/
section{
  border: 5px solid black;
  width: 800px;
  height: 400px;
  position: relative;
}

/** Ball **/
div{
  background-color: black;
  position: absolute;
  top: 20px;
  left: 200px;
  width: 15px;
  height: 15px;
}


/** Paddles **/
#paddle1, #paddle2{
  position: absolute;
  height: 100px;
  width: 30px;
}

#paddle1 {
  top: 0px;
  left: 0px;
}
#paddle2 {
  top: 0px;
  left: 770px;
}
.button{
  position: absolute;
  left : 25px;
  top : 800px;
  height: 100px;
  width: 300px;
  background-color: black;
}
