* {
  box-sizing: content-box;
  margin: 0;
}

body {
  align-items: center;
  background-color: #1A1E21;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: #F0F0F0;
  font-size: 3.5em;
  position: absolute;
  top: 7px;
}

h2 {
  color: #F0F0F0;
  font-size: .9em;
  position: absolute;
  top: 60px;
}

.space {
  color: #F0F0F0;
  font-size: 1em;
  left: 65%;
  position: absolute;
  top: 40px;
}

.r {
  color: #F0F0F0;
  font-size: 1em;
  left: 65%;
  position: absolute;
  top: 60px;
}

/** Border **/
section {
  background-color: #1A1E21;
  border-bottom: 5px solid #F0F0F0;
  border-left: 5px solid #384AFF;
  border-radius: 5px;
  border-right: 5px solid #FA2A27;
  border-top: 5px solid #F0F0F0;
  box-shadow: 5px 3px 15px black;
  height: 600px;
  position: relative;
  top: 90px;
  width: 1000px;
}

.line {
  border: 2px dashed #F0F0F0;
  height: 600px;
  left: 498px;
  position: absolute;
}

p {
  color: white;
  font-size: 7em;
  left: 220px;
  position: absolute;
  top: 120px;
}

.player2 {
  color: white;
  font-size: 7em;
  left: 750px;
  position: absolute;
  top: 120px;
}

/** Ball **/
#ball {
  background-color: #F0F0F0;
  box-shadow: 1px 1px 5px black;
  height: 20px;
  position: absolute;
  width: 20px;
}

/** Paddles **/
#paddle1, #paddle2 {
  background-color: #F0F0F0;
  border-radius: 2px;
  box-shadow: 2px 2px 5px black;
  display: flex;
  height: 150px;
  position: absolute;
  transition: top 300ms;
  width: 5px;
}

#paddle1 {
  top: 0px;
}

#paddle2 {
  left: 990px;
  top: 450px;
}

.white{
  border: 1px solid black;
}

.button {
  align-items: center;
  color: #F0F0F0;
  display: flex;
  font-size: 2em;
  height: 40px;
  justify-content: center;
  left: center;
  position: absolute;
  top: 710px;
  width: 90px;
}

.button:hover {
  cursor: pointer;
}
.powerUps {
  background-color: black;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #FFF929;
}
