*{
  box-sizing: content-box;
}
/** Border **/
section{
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid red;
  border-left: 5px solid blue;
  width: 600px;
  height: 400px;
  position: relative;
}

/** Ball **/
#ball {
  background-color: black;
  position: absolute;
  top: 200px;
  left: 300px;
  width: 15px;
  height: 15px;
}


/** Paddles **/
#paddle1, #paddle2{
  background-color: black;
  position: absolute;
  height: 100px;
  width: 5px;
  transition: top 300ms, left 300ms;
}

#paddle1 {
  top: 0px;
  left: 5px;
}
#paddle2 {
  top: 300px;
  left: 590px;
}
.button{
  position: absolute;
  left : 25px;
  top : 800px;
  height: 100px;
  width: 300px;
  background-color: black;
}
.Resetbutton {
  position: absolute;
  left : 500px;
  top : 800px;
  height: 100px;
  width: 300px;
  background-color: black;
}
