* {
  box-sizing: content-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1A1E21;
}

h1{
  position: absolute;
  top: 7px;
  font-size: 3.5em;
  color: #F0F0F0;
}
h2{
  position: absolute;
  top: 60px;
  font-size: .9em;
  color: #F0F0F0;
}

/** Border **/
section {
  top: 90px;
  border-top: 5px solid #F0F0F0;
  border-bottom: 5px solid #F0F0F0;
  border-right: 5px solid #FA2A27;
  border-left: 5px solid #384AFF;
  width: 1000px;
  height: 600px;
  position: relative;
  background-color: #1A1E21;
  border-radius: 5px;
}

.line{
  position: absolute;
  border: 2px dashed #F0F0F0;
  height: 600px;
  left: 498px;

}

p{
  position: absolute;
  left: 220px;
  top: 120px;
  font-size: 7em;
  color: white;
}
.player2{
  position: absolute;
  left: 750px;
  top: 120px;
  font-size: 7em;
  color: white;

}

/** Ball **/
#ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #F0F0F0;
}

/** Paddles **/
#paddle1, #paddle2 {
  background-color: #F0F0F0;
  display: flex;
  position: absolute;
  height: 150px;
  width: 5px;
  border-radius: 2px;
  transition: top 300ms;
}

#paddle1 {
  top: 0px;
}

#paddle2 {
  top: 450px;
  left: 990px;
}

.button {
  position: absolute;
  color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  left: center;
  top: 710px;
  height: 40px;
  width: 90px;
}
.button:hover{
  cursor: pointer;
}
.powerUps {
  background-color: black;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #F0F0F0;
}
